.modulo {
    width: 100%;
    color: white;
    opacity: 3;
    border-radius: 1rem;
    border-width: 5px;
    text-align: center;
    padding: 1rem;
    position: relative;
    display: inline-block;
    background-image: url("../img/curved-images/twelve_steps_header.png");

}

.modulo:hover .contenido {
    display: block;
}

.modulo.hidden {
    display: none;
}

/*
.encabezado {
    background-image: url("../img/curved-images/twelve_steps_header.png");
}
*/
.contenido {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    width: 96%;
    z-index: 1;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-top: 1rem;
    background-color: #df888f;
}

.cuerpo {
    color: white;
    padding-top: 12px;
    background-image: url("../img/curved-images/twelve_steps_body.png");
    background-color: #df888f;
    padding-bottom: 1rem;
    
}

.cuerpo hr {
    border: 5px solid rgb(0, 0, 0);
    background-color: #000000;
}

.pie {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/curved-images/twelve_steps_footer.png");
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-top: -1rem;
}

.botones .bg-gradient-dark,
.botones .bg-gradient-danger {
    margin: 1rem;
}

.btn-crear {
    background-color: #DF888F;
    margin: 1rem;
}

.btn-crear.hidden {
    display: none;
}

.mensaje {
    margin: 1rem;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    color: black;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    /* Ajusta según sea necesario para superponer otros elementos */
}

.popup {
    position: fixed;
    align-items: center;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(245, 245, 245, 0.4);
    /* background-color: #df888fc1; */
    padding: 20px;
    z-index: 1001;
    /* Ajusta según sea necesario para superponer otros elementos */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
}

.containerPopup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sinEncuestas {
    font-size: 20px;
    color: #000;
    background-color: rgba(0, 128, 0, 0.619);
    border-radius: 0.5rem;
    height: 4rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.sinEncuestas.hidden {
    display: none;
}