/* Estilos generales */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Imágenes responsivas */
img {
    max-width: 100%;
    height: auto;
}

/* Formulario */
.card {
    width: 100%;
}

/* Tamaños de fuente relativos */
h1, h3 {
    font-size: 2rem;
}

/* Media Query para pantallas más pequeñas */
@media (max-width: 768px) {
    .page-header {
        padding: 30px;
    }

    .card {
        margin-top: 20px;
    }

    h1, h3 {
        font-size: 1.5rem;
    }
}

/*---------------------------------Estilo para la pantalla sign_in ---------------------------------*/
#FF-Background {
    background-color: rgba(69, 130, 158, 0.323);
    border-radius: 100px;
} /*Este también se usa en el sign_up*/

/*-----------------------------------Formulario de inicio de sesión-------------------------------------*/

.custom-hr {
    border-top: 5px solid rgb(30, 77, 127); 
    border-radius: 10px;
    width: 100%;
}

.title {
    color: rgb(0, 0, 0);
    text-shadow: 7px 4px 5px rgb(84, 137, 216);
}

/*
.subtitle {
    color: rgb(0, 0, 0);
}
*/

#frase {
    font-style: italic;
}

/*
.text-gradient {
    background: linear-gradient(rgb(4, 99, 242),rgb(209, 127, 242));
    background-clip: text;
    color: transparent;  
}
*/

button._ini_ses {
    /*color: #fbb93e;
    background: linear-gradient(180deg, #65bce8 0%, #306485 100%);
    transition: all .1s;
    color: #000;
    border-color: transparent;*/
    border-radius: 50px;
    
}

button._ini_ses:hover {
    background: linear-gradient(180deg, #fbcd83 0%, #fbb93e 100%);
    transition: all .1s;
    color: #000;
}

input.form-control {
    background-color: whitesmoke;
    border-color: transparent;
}

a#FF-5-Pass {
    color: blue;
} /*olvide contraseña*/

#message-container {
    color: red;
    font-size: 13px;
} /*mensaje de usuario o contraseña incorrectos*/

img#logo {
    align-items: center;
    position: relative;
}