*.class

# Package Files #
*.jar
*.war
*.ear
/.project
/.settings
/reports
/target
/test-output
/.classpath
/sql.log
/application.log
.classpath
.project
*.log
*.apk
!src/main/resources/carinademoexample.apk
*.zip
!src/main/resources/carinademoexample.zip
.settings/*
target/*
test-output/*
reports/*
/reports
/.metadata/
/.classpath
/.project
.idea
*.iml
/target/
*new_custom_messages_*.properties
/bin/

#Frontend files
/FF-Front/
.vscode/

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
