.login {
    color: #fff;
    border: 0;
    border-radius: 50px;
    background-image: linear-gradient(310deg, #141727 0%, #3A416F 100%);
    letter-spacing: -0.025rem;
    text-transform: uppercase;
    box-shadow: 0 4px 7px -1px rgba(0, 0, 0, 0.11), 0 2px 4px -1px rgba(0, 0, 0, 0.07);
    background-size: 150%;
    background-position-x: 25%;
}

.btn {
    display: inline-block;
    font-weight: 700;
    line-height: 1.4;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.75rem 1.5rem;
    font-size: 0.75rem;
    border-radius: 0.5rem;
    transition: all 0.15s ease-in;
}

.login:hover {
    background: linear-gradient(180deg, #fbcd83 0%, #fbb93e 100%);
    transition: all .1s;
    color: #000;
}

button:not(:disabled), [type="button"]:not(:disabled), 
[type="reset"]:not(:disabled), 
[type="submit"]:not(:disabled) {
    cursor: pointer;
}

